# Virtual env
venv/

# Data
*.csv
*.parquet
data/
models/
outputs/*
!outputs/alerts/
!outputs/alerts/*
logs/

# Secrets
.env
*.json

# Python cache
__pycache__/
*.pyc

# keep most outputs ignored…
outputs/*
# …but DO commit alerts folder (for automation demo)
!outputs/alerts/
